@model IEnumerable<shopbd.tblpro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pdetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblcat.cname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pdetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblcat.cname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.pid }) |
            @Html.ActionLink("Details", "Details", new { id = item.pid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.pid }) |
            @Html.ActionLink("Images", "Images", new { id = item.pid })
        </td>
    </tr>
}

</table>
